@charset "UTF-8";
@import "partials/reset";
@import "partials/mixins";
@import "partials/variables";
@import "partials/base";

body {
  @include font-stack(body, 400);
  color: $colour0;
  padding: 0 1rem 1rem;
  margin: 0;
}

p {
  font-size: 1.05rem;
  color: $colour2;
  line-height: 1.5;
  margin-bottom: 1.35rem;
}

ul, ol {
  padding-left: 1.25rem;
  margin: 0.25rem 0 1.25rem 0;
}

ul {
  list-style: none;
  li:before {
    content: "â—";
    padding-right: 0.35rem;
    color: $colour4; 
  }
}

li {
  line-height: 1.4;
  font-size: 1rem;
}

a {
  text-decoration: none;
  position: relative;
  color: $colour2;

  &:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-width: 0 0 1px;
    border-style: dotted;
  }

  &:hover {
    color: $colour4;
  }

  &.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  } 
}

h1, h2, h3, h4, h5, h6 {
    @include font-stack(heading, 400);
    @include font-smoothing();
    padding: 0.25rem 0 0.4rem;
    color: $colour0;
    letter-spacing: -0.0425em;
}

h1 {
  font-size: 3.75rem;
  line-height: 1.1;
  /* margin-bottom: 0.25rem; */
  /* text-shadow: 2px 2px 2px $colour3; */
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.3rem;
}

h5, h6 {
    font-size: 0.875rem;
}

hr {
    background: transparent url("http://tinyurl.com/bq5kskr") repeat-x 0 0;
    border: 0 none;
    color: $decoColour1;
    height: 4px;
    padding: 0;
}


li p.first {
    display: inline-block;
}

dl dt {
    font-size: 0.875rem;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}


dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

blockquote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
    margin-bottom: 2rem;
    
    cite {
      a {
        font-style: italic;
      }
    }
}


/* -------------------------------------------------------------- */
/* HTML table style
/* -------------------------------------------------------------- */

%table-cell {
    margin: 0;
    padding: 0.5em 1em;
    text-align: left;
    font-size: 0.8em;
    border: 1px solid $decoColour1;
}

table {
    
    margin: 0 0 0.8em 0;
    padding: 0;
    
    caption {
        font-size: 0.9em;
        color: #888;
        font-style: italic;
        margin: 0.8em 0 0.5em;
    }
    
    tr {
        border-top: 1px solid $decoColour1;
        background-color: white;
        margin: 0;
        padding: 0;

        &:nth-child(2n) {
            background-color: $decoColour2;
        }

        th {
            @extend %table-cell;
            font-weight: 700;
        }
        td {
            @extend %table-cell;
        }
    }
}


table tr th :first-child, table tr td :first-child {
    margin-top: 0;
}

table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}


img {
    max-width: 100%;
    border: 1px solid #ccc;
    @include box-shadow(3px, 3px, 8px, #bbb);
}

span.frame {
    display: block;
    overflow: hidden;
}

span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto;
}

span.frame span img {
    display: block;
    float: left;
}

span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0;
}

span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center;
}

span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right;
}

span.align-right span img {
    margin: 0;
    text-align: right;
}

span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left;
}

span.float-left span {
    margin: 13px 0 0;
}

span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right;
}

span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right;
}

code, pre {
    @include font-stack(mono, 400);
    line-height: 1.35;
    margin-bottom: 0.85em;
    border: 1px solid #eaeaea;
    background-color: $colour4;
}

code, tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    
    border-radius: 3px;
}

pre code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

.code-highlighted {
    background-color: #ff0;
}

.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre {
    font-size: 13px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}

pre code, pre tt {
    background-color: transparent;
    border: none;
}

.outline-2 {
    margin-bottom: 1.25em;
}

.figure {
    p {
        margin-bottom: 0;
    }
    margin: 1em 0;
}
table {
    .left {
        text-align: left; 
    }
    .right { 
        text-align: right; 
    }
}
.table-with-summary-footer {
    tbody:last-child {
        td { 
            font-weight: 700;
        }
    }
}

.org-src-container {
    margin-bottom: 1.25em;
}


#footnotes {
    h2 {
        font-size: 1.2em;
    }

    .footdef {
        sup, .footpara {
            font-size: 0.75em;
        }
        .footpara {
            @include opacity(0.85);
        }
    }
}

#postamble {
    padding: 0.55em;
    margin-top: 1em;
    background-color: $colour3;
    @include opacity(0.5);
    border-bottom: 5px solid hsla(0, 0%, 80%, 0.6);
    
    p {
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    
    .date {
        font-size: 0.8em;
        font-style: italic;
        color: $colour0;
    }
}


/* -------------------------------------------------------------- */
/* Page Layout
/* -------------------------------------------------------------- */

/* Debug CSS */
.site-header {
  display: none;
}
.page-content {
  margin-top: 5rem;
}

/* END of Debug CSS */

.page-content {
  .wrapper {
    max-width: $contentWidth;
    margin: 0 auto;
  }
}


/* -------------------------------------------------------------- */
/* Posts
/* -------------------------------------------------------------- */
.post-header {
  margin-bottom: 1.75rem;
}
.separator {
  color: $colour4;
}
.post-meta {
  color: $colour1;
  font-size: 0.95rem;
  border-bottom: 1px solid $colour3;
  padding: 0.25rem 0 0.5rem;

  a {
    color: $colour1;
    
    &:after {
      border-bottom: none;
    }
  
    &:hover {
      color: $colour4;
    }
  }
}
